*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 400 16px 'Poppins',sans-serif;
    background-color: #f8f8f8;
    color: #1f1f1f;
}
input, button, textarea{
    font: 400 16px 'Roboto',sans-serif;
}