.question{
    background:#fefefe;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding: 24px;

    &  + .question{
        margin-top: 16px;
    }

    &.highlighted{
        background:#f4f0ff;
        border: 1px solid #835afd;
        footer .userInfo span{
            color: #292929;
        }
    }

    &.answered{
        background:#DBDCDD;
        border: 1px solid rgba(0,0,0,0.1);
    }

    p {
        color: #292929;
        font-size: 16px;
    }
    
    footer {
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-top:24px;

        .userInfo{
            display: flex;
            align-items: center;

            img {
                width:42px;
                height:42px;
                border-radius:50%;
                
            }
            span {
                margin-left: 8px;
                color:#737380;
                font-size: 14px;
            }
            &.answered {
                img{
                    filter: grayscale(1);
                }
            }
        }
        
        > div{
            display: flex;
            gap: 16px;
        }

        span{
            font-size: 14px;
            color:#737380;
        }

        button{
            border: 0;
            background:transparent;
            cursor: pointer;
            gap: 8px;
            transition:filter 0.8s;

            &.like-button {
                display: flex;
                align-items:flex-end;
                color: #737380;
                &.liked{
                    color: #835afd;
                    
                    svg path{
                        stroke: #835afd;
                    }
                }
            }

            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}